<a href="https://colab.research.google.com/github/umairchanna57/Mahine-Learning-/blob/main/Data_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive

In [8]:
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

In [14]:
df =pd.read_excel('/content/drive/My Drive/data/data.xlsx')

In [15]:
df.head()

          x         y
0 -0.001526  0.011575
1 -0.003357  0.009438
2 -0.004578  0.010049
3 -0.006714  0.008370
4 -0.008240  0.009133

In [18]:
df.loc[: , 'x']

0      -0.001526
1      -0.003357
2      -0.004578
3      -0.006714
4      -0.008240
          ...
6277    0.033569
6278    0.024719
6279    0.014954
6280    0.009155
6281    0.001831
Name: x, Length: 6282, dtype: float64

In [19]:
df.loc[: , 'y']

0       0.011575
1       0.009438
2       0.010049
3       0.008370
4       0.009133
          ...
6277    0.016152
6278    0.015237
6279    0.013253
6280    0.014932
6281    0.011422
Name: y, Length: 6282, dtype: float64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6282 entries, 0 to 6281
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       6282 non-null   float64
 1   y       6282 non-null   float64
dtypes: float64(2)
memory usage: 98.3 KB

In [23]:
df.describe()

                 x            y
count  6282.000000  6282.000000
mean      2.505482     0.073505
std       1.884060     0.046484
min      -0.016785     0.006692
25%       0.672379     0.028970
50%       2.412567     0.071313
75%       4.122086     0.109384
max       7.001038     0.191934

In [27]:
df['x'].isnull().values.any()

False

In [28]:
df['y'].isnull().values.any()

False

In [29]:
df.shape

(6282, 2)

In [32]:
x=df['x']

In [33]:
type(x)

pandas.core.series.Series

In [34]:
df.index

RangeIndex(start=0, stop=6282, step=1)

In [38]:
x.dtype

dtype('float64')

In [39]:
y=df['y']

In [40]:
y.dtype

dtype('float64')

In [42]:
x.iloc[-1]

0.0018310547

In [43]:
y.iloc[-1]

0.0114221191

In [59]:
df[df['x']>1]

             x         y
32    1.023865  0.028970
33    1.111755  0.029733
34    1.202698  0.030190
35    1.296082  0.034310
36    1.390686  0.035226
...        ...       ...
6238  1.183777  0.048654
6239  1.136475  0.049569
6240  1.090698  0.047738
6241  1.043701  0.045297
6242  1.000061  0.045297

[4347 rows x 2 columns]

Before Drop dupliacte

In [75]:
df.shape

(6223, 2)

In [76]:

df=df.drop_duplicates()

After Dupliactes But there is no any Duplicate

In [78]:
df.shape

(6223, 2)

In [69]:
%timeit df.iloc[1, 1]

25.4 µs ± 637 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)